{% extends 'adminBase.html.twig' %}
{% block body %}
    <table class="table">
            <tr>
                <th>Loginnaam</th>
                <th>Naam</th>
                <th>Tussenvoegsel</th>
                <th>Achternaam</th>
                <th>Geboortenaam</th>
                <th>Aanneem Datum</th>
                <th>Salaris</th>
                <th>persoonsnummer</th>
            </tr>
        {% for instructeur in instructeurs %}
            <tr>
                <td>{{ instructeur.loginnaam }}</td>
                <td>{{ instructeur.naam }}</td>
                <td>{{ instructeur.tussenvoegsel }}</td>
                <td>{{ instructeur.achternaam }}</td>
                <td>{{ instructeur.geboortedatum|date('d-m-Y') }}</td>
                <td>{{ instructeur.aanneemdatum|date('d-m-Y') }}</td>
                <td> € {{ instructeur.salaris|number_format(2) }}</td>
                <td>{{ instructeur.persoonsnummer }}</td>
                <td> <button type="button" class="btn btn-link"><a href="http://localhost/web/app_dev.php/inWijzigen/{{ instructeur.id }}">wijzigen</a></button><button type="button" class="btn btn-link"><a href="http://localhost/web/app_dev.php/inVerwijderen/{{ instructeur.id }}">verwijderen</a></button></td>
            </tr>
        {% endfor %}
    </table>
    <a href="inToevoegen"><button>toevoegen</button></a>

{% endblock %}